<div class="edit-user-block">
    <h1> {{ userAction === 'edit' ? 'Edit' : 'Create' }} User </h1>
    <form [formGroup]="userForm" (ngSubmit)="save()">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required>
            <mat-error *ngIf="userForm.get('firstName')?.invalid">{{getErrorMessage(userForm.get('firstName'))}}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required>
            <mat-error *ngIf="userForm.get('lastName')?.invalid">{{getErrorMessage(userForm.get('lastName'))}}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required>
            <mat-error *ngIf="userForm.get('username')?.invalid">{{getErrorMessage(userForm.get('username'))}}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-error *ngIf="userForm.get('password')?.invalid">{{getErrorMessage(userForm.get('password'))}}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" required>
            <mat-error *ngIf="userForm.get('email')?.invalid">{{getErrorMessage(userForm.get('email'))}}</mat-error>
        </mat-form-field>
        <mat-radio-group aria-label="Select an option" formControlName="status" required>
            <mat-radio-button value="Active">Active</mat-radio-button>
            <mat-radio-button value="Inactive">Inactive</mat-radio-button>
        </mat-radio-group>
        <button type="submit" mat-raised-button color="primary"> Save </button>
    </form>
</div>